%h2 Come to my room for some toast!

%h5 I am currently contracting as a Quality Assurance tester for Pat Deeegan PhD & Assosiates. My work focuses mostly on automated testing using Cucmber and Selenium. I also am a QA consultant for hire. I enjoy taking a product someone has worked really hard on, and finding where it's broken. I enjoy being able to help people make a better product. I like challenging projects, learning how to fix something I know nothing about! I am also a junior developer, and web designer.

%p I have been a car enthusiast since I can remember. While I never really started digging under the hood of cars succesfully(in other words, actually fixing it instead of making it worse), I always enjoyed the mechanics and beauty of a well sculpted car. One of my favorit cars is a 1196 Impala SS. I wanted one since I was 14 years old, but it took me over 20 years before I could finally afford one.
