%h2 Come to my room for some toast!

%p I contract as a Quality Assurance Tester and enjoy consulting with companies to help them establish better TDD practices. Currently I am working with Pat Deeegan PhD & Assosiates on the many projects they have. My work focuses mostly on automated testing using Cucmber and Selenium. I enjoy taking a product someone has worked really hard on, and finding where it's broken. I think it's rewarding to be able to help people make a better product. I like challenging projects, and learning how to fix something that before I knew nothing about. I am also a junior developer, and web designer.


%p I have also been a car enthusiast since I can remember. While I never really started digging under the hood of cars succesfully(in other words, actually fixing it instead of making it worse), I always enjoyed the mechanics and beauty of a well designed car. I'm a big fan of the classics and love the designs of the the 1930's and 40's. In 2012 I finally was able to get a car I wanted since I was 14, a 1996 Impala SS. It took me about 20 years to get one but it was worth the wait. I like big muscle motors, and watching other people spend their money on them. 


%ul.bxslider
	%li= image_tag("impalass1.jpg", :class => "image-responsive")
	%li= image_tag("impalass2.jpg", :class => "image-responsive")
	%li= image_tag("impalass3.jpg", :class => "image-responsive")
	%li= image_tag("impalass4.jpg", :class => "image-responsive")
  